@import "https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css";

.App {
  margin-top: 15px;
  text-align: center;
}


.header,
.marketing,
.container, 
.footer {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f0f8ff;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.App.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}


.searchBox {
  margin-bottom: 15px;
  margin-top: 15px;
}

.searchBox .btn {
  height: 42px;
  padding: 0 10px 0 10px;
}

table {
  margin-top: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#searchForm {
  width: 100%;
}